<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:mockito="http://www.mockito.org/spring/mockito"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://www.mockito.org/spring/mockito
        http://www.mockito.org/spring/mockito.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <jaxrs:server id="jaxrs-test" address="/">
        <jaxrs:serviceBeans>
            <bean class="bbc.forge.dsp.jaxrs.ThingApi">
            	<constructor-arg ref="httpDataRepository"/>
            </bean>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
        	<ref bean="jaxRsExceptionHandler"/>
        	<ref bean="httpRequestMonitor"/>
        	<ref bean="httpResponseMonitor"/>
        	<ref bean="httpResponseVersionProvider"/>
        	<ref bean="caching500ErrorsForARevalidationPreventer"/>
        </jaxrs:providers>
    </jaxrs:server>

	<bean id="httpResponseMonitor" class="bbc.forge.dsp.jaxrs.HttpResponseMonitor" />

    <bean id="httpRequestMonitor" class="bbc.forge.dsp.jaxrs.HttpRequestMonitor"/>
	<bean id="caching500ErrorsForARevalidationPreventer"
		class="bbc.forge.dsp.jaxrs.Caching500ErrorsForARevalidationPreventer"/>

	<bean id="httpResponseVersionProvider" class="bbc.forge.dsp.jaxrs.HttpResponseVersionProvider">
		<constructor-arg value="1.1.11"></constructor-arg>
	</bean>

</beans>

